body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.asset-table {
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.table-row-light {
    background-color: #ffffff;
}
.table-row-dark {
    background-color: #fafafa;
}

.ant-menu-horizontal li:nth-child(2) {
    margin-left: auto !important;
}

.ant-menu-submenu-title .anticon + span {
    display: none !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    margin-left: 0px;
    margin-right: 0px;
}

.ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title {
    width: 25px !important;
    text-align: center !important;
}

.ant-form-item .ant-form-item-label {
    padding: 0 !important;
}

.nav-bar-for-shadow {
    position: fixed;
    height: 45px !important;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75) !important;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75) !important;
}

.footer {
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75) !important;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75) !important;
    background-color: white;
    color: black;
    min-height: 5vh;
}

.asset-icon {
    font-size: 18px !important;
}

.asset-text {
    font-size: 16px !important;
    text-align: center;
}

.asset-text input {
    text-align: center;
}

.emptyAssets {
    display: flex;
    width: 70%;
    height: 25vh;
    margin: auto;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td[colspan="2"].ant-table-cell{
    text-align: right !important;
}

.loadingIcon {
    font-size: 40px !important;
    border-radius: 12px;
}

.loginIcon {
    font-size: 40px !important;
}

.eachAssetRow:hover {
    background-color: #bbe9ff !important;
}

.eachAssetToolTip {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-table-tbody > tr > td, .ant-table-thead > tr > th {
    padding: 10px !important;
}